################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HillCipher.Library/.vs
/HillCipher.Library/obj
/HillCipher.ConsoleApp
